<div class="component-container">
  <h3>Typography</h3>
  <div class="demo-typography-group">
    <div class="demo-typography-title">body</div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-body-small</div>
      </div>
      <div class="demo-typography-text" style="font: var(--mat-sys-body-small)">
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-body-medium</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-body-medium)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-body-large</div>
      </div>
      <div class="demo-typography-text" style="font: var(--mat-sys-body-large)">
        Lorem ipsum dolor
      </div>
    </div>
  </div>
  <div class="demo-typography-group">
    <div class="demo-typography-title">display</div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-display-small</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-display-small)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-display-medium</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-display-medium)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-display-large</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-display-large)"
      >
        Lorem ipsum dolor
      </div>
    </div>
  </div>
  <div class="demo-typography-group">
    <div class="demo-typography-title">headline</div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-headline-small</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-headline-small)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-headline-medium</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-headline-medium)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-headline-large</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-headline-large)"
      >
        Lorem ipsum dolor
      </div>
    </div>
  </div>
  <div class="demo-typography-group">
    <div class="demo-typography-title">label</div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-label-small</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-label-small)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-label-medium</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-label-medium)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-label-large</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-label-large)"
      >
        Lorem ipsum dolor
      </div>
    </div>
  </div>
  <div class="demo-typography-group">
    <div class="demo-typography-title">title</div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-title-small</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-title-small)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-title-medium</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-title-medium)"
      >
        Lorem ipsum dolor
      </div>
    </div>
    <div class="demo-typography-example">
      <div class="demo-typography-variable">
        <div class="demo-surface-variable">--mat-sys-title-large</div>
      </div>
      <div
        class="demo-typography-text"
        style="font: var(--mat-sys-title-large)"
      >
        Lorem ipsum dolor
      </div>
    </div>
  </div>
</div>
